body{
    background-image:url("../images/ramsbackground.jpeg");
    background-size:cover;
    
}

h1 {
    color:white;
    background-color:rgb(197,179,88);
    margin-left:225px;
    margin-right:800px
} 
.question{
    color:white;
    margin-left:500px;
    
}

.answers {
    color:yellow;
    margin-left:500px;

    
}

#submit{
    margin-left:500px;

}

#results{
    margin-left:500px;
    color:white;
}